:root {
    --height-elem: 100px
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.hide {
    display: none;
}

.game {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.start {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(50px - 2rem);
    width: 100%;
    padding: 1rem;
    box-shadow: 3px 3px 5px 1px #ccc;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* оформление кнопки начать игру */


.btn {
    font: inherit;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 15px;
}

.btn:disabled {
    background-color: #ccc;
    color: #ddd;
}

.score {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    box-shadow: -3px -3px 5px 1px #ccc;
    height: calc(50px - 2rem);
    padding: 1rem;
}
/* оформление счета */


.btn:not(:last-child) {
    margin-right: 15px;
}

.car, .enemy {
    width: calc(var(--height-elem) / 2);
    height: var(--height-elem);
    background: transparent url('./image/player.png') center / contain no-repeat;
    position: absolute;
    left: 125px;
    bottom: 10px;
}

.gameArea {
    width: 300px;
    position: relative;
    margin: auto;
    background: #222;
    overflow: hidden;
    max-height: calc(100vh - 400px);
    min-height: 500px;
}

.line {
    position: absolute;
    width: 10px;
    height: calc(var(--height-elem) / 2);
    background: #fff;
    left: 145px
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
}

.title {
    margin-right: 4px;
}

@keyframes carAnimation {
    from {background-color: red;}
    to {background-color: yellow;}
}

.carWithAnimation {
    animation-name: carAnimation;
    animation-duration: 3s;
}

@keyframes showGameText {
    from {color: red;}
    to {color: yellow;}
}

.gameText {
    position: absolute;
    top: 50%;
    left: 47%;
    font-size: 30px;
    animation-name: showGameText;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.gameTextHidden {
    visibility: hidden;
}